*{
    margin: 0;
    padding: 0;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/nature.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center; 
}
.main-nav{
    float: right;
    list-style: none;
    padding-top: 30px
}

.main-nav li{
    display: inline-block;
}

.main-nav li a{
    color: white;
    text-decoration:none;
    padding: 5px 20px; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.main-nav li.active a{
    border: 1px solid white;
}

.main-nav li a:hover{
    border: 1px solid white;
}
.profile{
    padding-top: 400px;
    width: 400px;
    background-color: rgba(0,0,0,0.3);
    padding: 30px 0;
    border-radius: 10%;
    text-align: center;
    color: white;
    align-content: center;
    padding-left: 200px;

}
img{
    height: 250px;
    border-radius: 70px;
}
#about{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/nature.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center; 
    text-align: center;
    color: white;

}
.about-content {
    height: 50vh;
    padding-top: 400px;
    background-color: rgba(0,0,0,0.3);
    padding: 30px 0;
    border-radius: 10%;
    text-align: center;
    color: white;
    align-content: center;
    padding-left: 100px;
}
#contact{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/nature.jpg);
    height: 70vh;
    background-size: cover;
    background-position: center; 
    text-align: center;
    color: white;
    
}
.contact-details-area{
    height: 70vh;
    padding-top: 400px;
    background-color: rgba(0,0,0,0.3);
    padding: 30px 0;
    border-radius: 10%;
    text-align: center;
    color: white;
    align-content: center;
    padding-left: 100px;
}
.contact-details{
    background-color: rgba(0,0,0,0.3);
    padding: 30px 0;
    border-radius: 10%;
    text-align: center;
    color: white;
    align-content: center;
}
#contact-form{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/nature.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center; 
    text-align: center;
    color: white;
    
}